/* ======== Importing assets ======== */

/* ---- TYPOGRAPHY ---- */
@import url(../css/typography.css);

/* ---- base utilities ---- */

.cart {
    position: fixed;
    top: 150px;
    right: 10px;
    background-color: var(--ghub-white);
    border: 0.1em solid black;
    box-shadow: 0px 5px 20px var(--ghub-silver);
    width: 200px;
    padding: 5px;
    margin-bottom: 20px;
}

/* Text-box */
.text-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: var(--ghub-white);
}

.text-box>h1 {
    font-family: var(--ff-heading);
    text-align: center;
}

.text-box>p {
    padding: 5px;
    font-family: var(--ff-body);
    font-size: var(--fs-body-md);
}

/* Page wrappers */
.page-wrapper-outer {
    background-color: var(--ghub-white);
}

.page-wrapper-inner {
    background-color: var(--ghub-black);
    margin: 15px;
}

.page-content-frame {
    padding: 5px;
}

/* ======== Page Layout ======== */
.page-header {
    background-color: var(--ghub-black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-nav {
    display: flex;
    flex: 1 1 100%;
}

.nav-section {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }
}

/* ======== top-section ======== */
.top-section {
    padding: 5px;
}

/* .img-box {
    margin: 15px;
    padding: 5px;
    background-color: var(--ghub-white);
    border-radius: 0.5em;
} */

/* .img-lg {
    width: 100%;
} */

.img-md {
    width: 150px;
    border-radius: 50%;
}


/* Testing that did not work and i need to move on... */
/*
.form-input-area{
    position: relative;
}

:focus{
    outline: none;
}
.form-input-style{
    border: 0; 
    padding: 4px 0; 
    border-bottom: 1px solid #ccc; 
    background-color: transparent;
}

.form-input-style ~ .input-border{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 0; 
    height: 2px; 
    background-color: #4caf50; 
    transition: 0.4s;
}

.form-input-style:focus ~ .input-border,
.has-content.form-input-style ~ .input-border{
    width: 100%; 
    transition: 0.4s;
}

.form-input-style ~ label{
    position: absolute; 
    left: 0; 
    width: 100%; 
    top: 9px; 
    color: #aaa; 
    transition: 0.3s; 
    z-index: -1; 
    letter-spacing: 0.5px;
}

.form-input-style:focus ~ label, 
.has-content.form-input-style ~ label{
    top: -16px; 
    font-size: 12px; 
    color: #4caf50; 
    transition: 0.3s;
} */




/* ======== content-section-1 ======== */
.content-section-1 {
    padding: 10px;
}

.game-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 15px 10px 15px;
    background-color: var(--ghub-af);
}

.game-section-header,
.game-section-footer {
    color: var(--ghub-green);
    font-family: var(--ff-heading);
    border-bottom: 2px solid var(--ghub-green);
}

/* Game Card 1 */
.game-card-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 300px;
}

.card-frame {
    margin: 5px;
    background-color: var(--ghub-rhythm);
    box-shadow: 2px 2px 6px 0px var(--ghub-black);
}

.game-img-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-img {
    max-width: 100%;
}

.card-text-box {
    display: flex;
    flex-direction: column;
    border-radius: 0.25em;
    margin-top: 5px;
    background-color: white;
    padding: 5px;
}

/* Game Card 2 */
.game-card-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.game-img-2 {
    max-width: 100%;
}

.card-frame-outer {
    display: flex;
    background-color: white;
    padding: 0 20px 20px;
}

.text-box-2 {
    display: felx;
    flex: 1 1 80%;
}

.btn-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
}

/* ======== Content section 2 ======== */
.content-section-2 {
    padding: 10px;
    display: flex;
    flex-direction: column;

}

/* Banner-section */
.banner-frame-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--ghub-red);
    border-radius: 25px;
    background-color: var(--ghub-af);
    box-shadow: 0px 5px 20px var(--ghub-red);
    margin: 15px;
    padding: 15px;
}

.banner-frame-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--ghub-red);
    border-radius: 25px;
    background-color: var(--ghub-af);
    box-shadow: 0px 5px 20px var(--ghub-red);
    margin: 15px;
    padding: 15px;
}

.banner-img-desktop {
    padding: 15px;
    border-radius: 25px;
    max-width: 250px;
}

.banner-img-mobile {
    padding: 15px;
    border-radius: 25px;
    max-width: 250px;
}

.banner-text-area-desktop {
    padding: 15px;
}

.banner-text-area-mobile {
    padding: 15px;
}

.input-banner {
    margin-top: 25px;
}

.banner-link {
    text-decoration: none;
    color: var(--ghub-black);
    border-bottom: 2px solid var(--ghub-black);
}

.banner-link:hover {
    color: var(--ghub-black);
    border-bottom: 2px solid var(--ghub-green);
}

.sub-email {
    margin: 25px;
}

.banner-icon {
    width: 15px;
}

@media only screen and (max-width: 500px) {
    .banner-frame-desktop {
        display: none;
    }

    .banner-frame-mobile {
        display: flex;
    }

    .input-banner {
        margin: 25px;
    }

    .banner-footer {
        margin-top: 5px;
    }
}

/* ======== content-section-3 ======== */
.content-section-3 {
    padding: 10px;
}

