@media only screen and (max-width: 480px){
    img{
        width: 100%;
    }

    h1 {
        font-family: audiowide;
        color: #0df205;
        font-size: 20px;
    }
    
    p {
        font-family: oswald;
        font-size: 12px;
        color: #0df205;
    }
}

h1 {
    font-family: audiowide;
    color: #0df205;
}

p {
    font-family: oswald;
    font-size: 15;
    color: #0df205;
}

Body {
    background-color: #f2f2f2;
    margin: 0%;
}

.bodymain {}

section {
    display: flex;
  }
  
  div {
    flex: 1;
  }
  
  .one {
    background: lightblue;
  }
  
  .two {
    background: yellow;
  }
  
  .three {
    background: rgb(49, 16, 165);
  }

  .four {
    background: rgb(163, 45, 24);
  }

  .five {
    background: rgb(122, 23, 89);
  }

.logo {
    align-content: center;
    height: 150px;
    width: 150px;
}
