@media only screen and (max-width: 480px){
    img{
        width: 100%;
    }

    h1 {
        font-family: audiowide;
        color: #0df205;
        font-size: 20px;
    }
    
    p {
        font-family: oswald;
        font-size: 12px;
        color: #0df205;
    }
}

h1 {
    font-family: audiowide;
    color: #0df205;
}

p {
    font-family: oswald;
    font-size: 15;
    color: #0df205;
}

Body {
    background-color: #f2f2f2;
    margin: 0%;
}

.bodymain {}

.head {
    background-color: #0d0d0d;
}

.logo {
    align-content: center;
}

.head-grid {
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.head-grid>div {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc(30%);
}

.box {
    margin: 20px;
}

.box-l {
    border: 2px orange solid;
    justify-content: left;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box-c {
    border: 2px green solid;
    justify-content: center;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box-r {
    border: 2px red solid;
    justify-content: right;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.content{
    justify-content: center;
}