<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/master.css" />
  </head>
  <body id="body">
    <div class="body__wrapper">
      <header id="header"></header>
      <main id="main">
        <div id="info"></div>
        <div id="main__wrapper" class="main__wrapper">
          <div class="form-container">
            <div class="pop-up"></div>
            <form id="form">
              <div>
                <h1>Contact us</h1>
              </div>
              <div>
                <label>
                  Full name:*
                  <input name="fullName" id="fullName" placeholder="full name" />
                </label>
                <div class="form-info" id="fullNameInfo">Please enter your full name</div>
              </div>
              <div>
                <label>
                  Email:*
                  <input name="email" id="email" placeholder="email@email.com" />
                </label>
                <div class="form-info" id="emailInfo">Email is required</div>
              </div>
              <div>
                <label>
                  Adress:*
                  <input name="adress" id="adress" placeholder="adress" />
                </label>
                <div class="form-info" id="adressInfo">Please enter your adress</div>
              </div>
              <div>
                <label>
                  Subject:*
                  <textarea name="subject" id="subject"></textarea>
                </label>
                <div class="form-info" id="subjectInfo">Subject is required</div>
              </div>
              <div>
                <button class="form-btn" id="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </main>
      <footer id="footer"></footer>
    </div>
    <script src="../js/page_layout.js" type="module"></script>
  </body>
</html>
