.navigation {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;
}

.nav__link {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.nav__link:hover {
    color: red;
    text-decoration: underline;
}