/* ======================
STYLE SHEET FOR GAMEHUB INC. 

Style list:

1. Global style
    1.1 Importing stylesheets
    1.2 Base elements
    1.3 Css Variables

2. Typography

3. Components
   
4. 

5. 

6. Media Queries 
   ====================== */

/* ======================
    1. GLOBAL STYLE
   ====================== */

/* --- 1.1 Importing stylesheets --- */
@import url('./layout_css/navigation.css');
@import url('./layout_css/loader.css');

/* --- 1.2 Base elements --- */
* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 5px;
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
}

header {
    display: grid;
    grid-template-columns: 350px 1fr;
    background-color: #0D0D0D;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    background-color: #F2F2F2;
    width: 100%;
}

.main-container {
    background-color: #0D0D0D;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    padding: 15px;
}

footer {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    padding: 0;
    padding: .5em;
    background-color: #0D0D0D;

    font-family: 'Smooch Sans', sans-serif;
    font-size: 30px;
}

.footer-div-1 {
    grid-column: 3 / 9;

    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    gap: 5px;

    background-color: #F2F2F2;
    font-size: 16px;

    border-radius: 2em;
    padding: 10px;
}

.footer-nav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 15px;
}

.page-title {
    color: white;
}

.navigation {
    display: grid;
    grid-template-rows: 40px 100px;
    padding: 15px;
}

.nav-div-1 {
    justify-self: end;
    align-self: center;
}

.nav-div-2 {
    justify-self: end;
    align-self: end;
}

.nav-link {
    display: inline-flex;
    font-size: 19px;
    text-decoration: none;
    color: #00FF00;

    border-radius: 2em;
    border: .05em solid #f21b1b;
    padding: .6em;
    margin: 0 5px;

    box-shadow: 0px 5px 16px 5px rgba(242, 27, 27, 0.452);
    transform: translateZ(0);
}

.nav-link:hover {
    box-shadow: 0px 5px 16px 5px rgba(250, 250, 250, 0.452);
}

.nav-link>.fa-house,
.nav-link>.fa-gamepad,
.nav-link>.fa-house-user {
    margin-right: 15px;
}

.icon-container {
    display: block;
    text-align: center;
    max-width: fit-content;
    padding: 10px;
    border: .05em solid #F21B1B;
    border-radius: 50%;
}

.header-div-3>.icon-container>i {
    color: #00FF00;
}

/* ======================
    2. TYPOGRAPHY
   ====================== */


/* ======================
    3. MESSAGES
   ====================== */
.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    align-content: center;

    font-family: 'Smooch Sans', sans-serif;
    font-size: 19px;

    margin: 10px auto;
    padding: 15px;
}

.primary {
    border: .1em solid #0099cc;
    background-color: hsla(195, 100%, 40%, 0.350);
}

.warning {
    border: .1em solid #ff8800;
    background-color: hsla(32, 100%, 50%, 0.350);
}

.error {
    border: .1em solid #cc0000;
    background-color: hsla(0, 100%, 40%, 0.350);
}

.success {
    border: .1em solid #007e33;
    background-color: hsla(144, 100%, 25%, 0.350);
}

/* ======================
    4. Assets
   ====================== */

/* ==== Text-box ==== */
.text-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;

    text-align: center;
    background-color: #F2F2F2;
    margin: 15px;
    padding: 15px;
}


/* ==== Image ==== */
.ratio-box {
    width: 100%;
    height: 0;
    padding-top: calc(100% * (9/16));
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

/* ==== Cards ==== */
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    gap: 0.025em;

    max-width: 375px;
    background-color: #F2F2F2;
    border: 0.015em solid black;
    border-radius: 0em 0em 1em 1em;
    box-shadow: 0 1px 4px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255) inset;
}

.card-header,
.card-content,
.card-footer {
    padding: 0 15px;
}

.card-header {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2px;
}

.card-header>p {
    text-align: end;
}


.card-footer {
    margin-top: auto;
    text-align: end;
    padding: 15px;
}
  
/* ==== Button ==== */
.btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;

    font-family: 'Smooch Sans', sans-serif;
    font-size: 19px;
    text-decoration: none;
    color: #0D0D0D;

    padding: .5em;
    margin: 5px;

    border-radius: 1em;
}

.btn:hover {
    box-shadow: 0px 5px 16px 5px rgba(61, 61, 61, 0.247);
    cursor: pointer;
    text-decoration: underline;
    color: #cc0000;
}

.btn-nav {
    background-color: #00FF00;
    border: .2rem solid #cc0000;
    border-radius: 50%;
    box-shadow: 0px 5px 16px 5px hsla(0, 100%, 40%, 0.314);
}

.cta {
    display: inline-block;
    padding: 15px;

    background-color: #0d0d0d;
    border: .05em solid #f21b1b;
    border-radius: 2em;
    
    box-shadow: 0px 5px 16px 5px rgba(242, 27, 27, 0.452);
    text-decoration: none;
    color: #00ff00;
    transform: translateZ(0);

}

.nav-link:hover,
.cta:hover {
    -webkit-animation-name: pulse-shrink;
    animation-name: pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

.cta >i {
    margin-left: 5px;
}

/* Pulse Shrink */

@-webkit-keyframes pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }

/* ======================
    5. 
   ====================== */

/* ======================
    6. Media Queries 
   ====================== */

@media only screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);

    }
}