@import "./gridsytsem.css";
@import "./buttonstyle.css";
@import "./typeface.css";
@import "./mediaquery.css";

/* Styleing */
body {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 100vh;
    background-color: #F2F2F2;
}



