/* -- header font -- */
@font-face {
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
}

/* -- body text fonts -- */
@font-face {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
}

/* CSS VARIABLES */
:root {

    /* ==== Font family ==== */
    --ff-heading: 'Audiowide', Arial, Helvetica, sans-serif;
    --ff-body: 'Oswald', Arial, Helvetica, sans-serif;
    --fw-heading: 700;
    --fw-body: 300;
    --line-height: 1.55
        /* ==== Font size ==== */
        --fs-h1: 5rem;
    --fs-h2: 3.25rem;
    --fs-h3: 2.75rem;
    --fs-h4: 1.75rem;
    --fs-body-lg: 1.125rem;
    --fs-body-md: 1.120rem;
    --fs-body-sm: 0.1rem;
    --nav-fs: .8rem;
    --link-fs: 1.10rem;

    /* ==== colour variables ==== */

    /* -- Smoky Black -- */
    --ghub-black: #0D0D0D;
    /* -- Anti-Flash White -- */
    --ghub-white: #F2F2F2;
    /* -- Electric Green1 -- */
    --ghub-green: #00FF00;
    /* -- Rhythm -- */
    --ghub-rhythm: #7A778C;
    /* -- Red(pigment) -- */
    --ghub-red: #F21B1B;

    --shadow: 2px 5px 20px var(--ghub-black);
    --shadow2: 0px 2px 16px 0px var(--ghub-black);
    --shadow3: 0px 0px 10px #dedcdc,
        0px 0px 10px #e6e3e3,
        0px 0px 10px #9c9a9a;
    --shadow4: 0.5rem 0.5rem var(--ghub-green),
        -0.5rem -0.5rem var(--ghub-red);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px 0;
}

p {
    margin: 10px 0 0 0;
}

/* Button's  */
.btn-a,
.btn-b {
    text-decoration: none;
    padding: 0.35em 1.2em;
    border-radius: 0.25em;
    border: 0.1em solid black;
    cursor: pointer;
    box-shadow: 0px 5px 20px #4F4D4D;
}

.btn-a:hover,
.btn-b:hover {
    box-shadow: 0px 10px 20px #4F4D4D;
}

.btn-nav {
    background-color: var(--ghub-green);
}

/* Dropdown */
#dropdown-menu,
.menu,
#dropdown-cart,
.cart {
    display: none;
}

label:hover {
    cursor: pointer;
}

#dropdown-menu:checked~.menu,
#dropdown-cart:checked~.cart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.menu {
    position: fixed;
    top: 25px;
    left: 10px;
    padding: 10px;
}

.cart {
    position: fixed;
    top: 25px;
    left: 10px;
    padding: 10px;
}

/* Text-box */
.text-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 50ch;
    padding: 5px;
    border: 1px solid black;
    border-radius: 0.25em;
    margin-top: 5px;
    background-color: var(--ghub-white);
}

.text-box>h1 {
    font-family: var(--ff-heading);
    text-align: center;
}

.text-box>p {
    padding: 5px 20px 5px 20px;
    font-family: var(--ff-body);
    font-size: var(--fs-body-md);
}

/* Page wrappers */
.page-wrapper-outer {
    background-color: var(--ghub-white);
}

.page-wrapper-inner {
    background-color: var(--ghub-black);
    margin: 25px;
}

.page-content-frame {
    margin: 5px;
}

/* Page Layout */
.page-header {
    background-color: var(--ghub-black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-nav {
    display: flex;
    flex: 1 1 100%;
}

.nav-section {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}


/* top-section */
.top-section {
    padding: 10px;
}

.img-box {
    margin-top: 15px;
    padding: 5px;
    background-color: var(--ghub-white);
}

.img-lg {
    width: 100%;
}

/* content-section-1 */
.content-section-1 {
    padding: 10px;
}


/* Game Card 1 */
.game-card-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card-frame {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.game-img {
    max-width: 100%;
}

.text-box {
    display: flex;
    flex-direction: column;
    border-radius: 0.25em;
    margin-top: 5px;
    background-color: white;
    padding: 0 20px 20px;
}

.btn-1 {
    box-shadow: none;
    text-align: center;
    color: black;
}

.btn-1:hover {
    color: red;
}

.game-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-section-header,
.game-section-footer {
    color: var(--ghub-green);
    font-family: var(--ff-heading);
    border-bottom: 2px solid var(--ghub-green);


}

.game-display-card {
    border: 1px solid var(--ghub-black);
    background-color: var(--ghub-white);
    border-radius: 0.50em;
    padding: 5px;
    font-family: var(--ff-heading);
    margin: 15px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow3);
}

.game-card-img {
    width: 100%;
    background-color: var(--ghub-rhythm);
}

.game-card-img>img {
    width: 100%;
}

.game-card-info {
    background-color: var(--ghub-white);
}

.game-card-text-box {
    width: 140px;
    margin-bottom: 15px;
}

.card-heading {
    padding: 5px;
}

.card-text-box {
    height: 110px;
    padding: 5px;
}

.game-card-price {
    float: right;
    padding: 5px;
}

.game-card-cta {
    background-color: var(--ghub-white);
    margin: 0 auto;
}

.btn-more {
    background-color: var(--ghub-black);
    color: var(--ghub-green);
    font-size: var(--nav-fs);
    margin-top: 0 auto;
}

/* content-section-2 */
.content-section-2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.page-info-banner {
    background-color: var(--ghub-white);
    margin: 0 auto;
    border-radius: 0.50em;
}

.page-info-banner>img {
    width: 100%;
}

/* content-section-3 */
.content-section-3 {
    padding: 10px;
}

/* content-section-3 */
.page-footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--ghub-black);
}

.page-footer-layout {
    padding: 25px;
    margin: 25px;
    border-radius: 1.25em;
    background-color: var(--ghub-white);
}

.footer-btn {
    background-color: var(--ghub-black);
    color: var(--ghub-green);
    font-size: var(--nav-fs);
    font-family: var(--ff-heading);
    margin-right: 20px;
}

.text-box-footer {
    text-align: center;
    font-size: var(--nav-fs);
    font-family: var(--ff-heading);
}