#page {
    display: grid;
    width: 100%;
    height: fit-content;
    margin-bottom: -50px;
    grid-template-areas:
        "head head"
        "main  main"
        "foot  foot";
    grid-template-rows: 150px 1fr 30px;
    grid-template-columns: 150px 1fr;
}

#page>header {
    grid-area: head;
    background-color: #0D0D0D;
    display: flex;
}

#page>main {
    grid-area: main;
    background-color: #ffff64;
    display: flex;
}

#page>footer {
    grid-area: foot;
    background-color: #0d0d0d;
    display: flex;
    padding: 5px 0px 5px 0px;
    height: fit-content;
}

#page-footer>.footer-btn-sys {
    background-color: #F2F2F2;
    margin: 0 auto;
    border-radius: 5rem;
    padding-left: 5%;
    padding-right: 5%;
}

/* Navigation grid header */
#header-nav {
    display: grid;
    grid-template-areas: "nav1 nav2 nav3";
    grid-template-rows: 50px 100px 50px;
    width: 100%;
    position: fixed;
    margin: 0 auto;
}

#header-nav>.header-nav-1 {
    grid-area: nav1;
    min-height: 200px;
}

#header-nav>.header-nav-2 {
    grid-area: nav2;
    min-height: 200px;
}

#header-nav>.header-nav-3 {
    grid-area: nav3;
    min-height: 200px;
}