#page {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "head head"
        "main  main"
        "foot  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
}

#page > header {
    grid-area: head;
    background-color: #8ca0ff;
  }

#page > main {
  grid-area: main;
  background-color: #ffff64;
}

#page > footer {
  grid-area: foot;
}


/* Navigation grid header */
#header-nav {
    display: grid;
    grid-template-areas: "nav1 nav2 nav3";
    grid-template-rows: 50px 100px 50px;
    width: 100%;
    position: fixed;
}

#header-nav > .header-nav-1{
    grid-area: nav1;
    background-color: black;
}

#header-nav > .header-nav-2{
    grid-area: nav2;
    background-color: red;
}

#header-nav > .header-nav-3{
    grid-area: nav3;
    background-color: green;
}

/* Navigation grid footer */
#footer-nav {
    display: grid;
    grid-template-areas: "nav1 bg-wrap nav5";
    grid-template-rows: 50px 100px 50px;
    width: 100%;
    position: static;
}

#footer-nav > .footer-nav-1{
    grid-area: nav1;
    background-color: rgb(165, 145, 145);
}

#footer-nav > .background-wrap{
    grid-area: bg-wrap;
    display: grid;
    grid-template-areas: "nav2 nav3 nav4";
    grid-template-rows: 50px 100px 50px;
    width: 100%;
    position: static;
    border: 2px solid black;
    border-radius: 20%;
}

#footer-nav > .background-wrap > .footer-nav-2{
    grid-area: nav2;

}

#footer-nav > .background-wrap > .footer-nav-3{
    grid-area: nav3;

}

#footer-nav > .background-wrap > .footer-nav-4{
    grid-area: nav4;

}

#footer-nav > .footer-nav-5{
    grid-area: nav5;
    background-color: rgb(161, 149, 228);
}