/* Company Logo */
.header-nav-logo {
    height: 150px;
}

.dropdown-logo{
    position: relative;
    top: 0px;
    left: 90px;
    width: 150px;
}

.full-img{
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.gamecard-img-bg{
    background-color: #7A778C;
    padding: 0.5em;
}

.gamecard-img{
    width: 100%;
}