@import "./gridsytsem.css";
@import "./img.css";
@import "./pagestyle.css";
@import "./buttonstyle.css";
@import "./typeface.css";
@import "./mediaquery.css";

/* Styleing */
body {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 100vh;
    background-color: #F2F2F2;
}

.page-banner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.page-banner-frame {
   background-color: #F2F2F2;
   border-radius: 20px;
   margin-top: 10px;
   margin-bottom: 10px; 
}

.page-banner-head{
    display: flex;
    margin: 0 auto;
    margin-top: 35px;
}

.page-banner-img {
    height: 150px;
    margin-left: 15px;
}

.page-banner-article {
    display: flex;
    margin: 0 auto;
    float: right;
    background-color: #F2F2F2;
    box-shadow: 0px 8px 16px 0px #F2F2F2;
    border-radius: 15px;
    width: 650px;
    margin-top: 15px;

}

.page-banner-form-sub{
    display: block;
    overflow: hidden;
    float: right;
}

.page-banner-input-lable {
    display: inline-block;
}

.page-banner-input {
    border: none;
    background: none;
    text-decoration: underline;
    display: inline;
    margin-right: 10px;
    margin-top: 15px;
}

.page-banner-btn {
    font-size: 1rem;
    color: #00FF00;
    font-family: 'Audiowide', cursive;

    background-color: #0D0D0D;
    border: 0.125em solid #0d0d0d;
    border-radius: 0.25em;
    padding: 5px;
    float: right;
    margin-right: 25px;
    margin-bottom: 15px;

}