@import "./gridsytsem.css";
@import "./typeface.css";
@import "./mediaquery.css";
@import "./pagestyle.css";


body{
    margin: 0;
    height: 100vh;
}

























/* CTA Buttons */
.f-cta-btn{
    width: 10px;
    height: 10px;
}