/* ------------------------------------------------------------------------------------- MOBILE -----------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------ Small devices (landscape phones, 576px and up) --------------------------------------------------------------------------*/
@media (min-width: 576px) { 
    .gridname {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    };

};

/* ------------------------------------------------------------------------------------- TABLET ------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------- Medium devices (tablets, 768px and up) ----------------------------------------------------------------------------------*/
@media (min-width: 768px) { 
    .gridname {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    };
    
 };

/* ------------------------------------------------------------------------------------- DESKTOP -----------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------- Large devices (desktops, 992px and up) ---------------------------------------------------------------------------------*/
@media (min-width: 992px) { 

    .gridname {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    };

 };

/* -------------------------------------------------------------------- X-Large devices (large desktops, 1200px and up) ------------------------------------------------------------------------*/
@media (min-width: 1200px) { 
    .gridname {
    grid-template-columns: repeat(3, minmax(0, 1fr))
};

};

/* -------------------------------------------------------------------- XX-Large devices (larger desktops, 1400px and up) ----------------------------------------------------------------------*/
@media (min-width: 1400px) { 
    .gridname {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    };

 };























