.page-content {
    background-color: #0D0D0D;
    padding: 10px;
}

.text-container {
    background-color: #F2F2F2;
    padding: 10px;
}

.breadcrumb {
    font-size: small;
    padding-left: 1px;
}

/* Dropdown menu nav */
.dropdown-list {
    display: none;
    width: 13em;
    background-color: #F2F2F2;
    box-shadow: 0px 8px 16px 0px #F2F2F2;
    border-radius: 5px;

    position: absolute;
    top: 105px;
    left: 10px;
}

.dropdown-open .dropdown-list {
    display: grid;
    grid-template-rows: 1fr;
}

.dropdown-cart {
    background-color: #00ff00;
}

/* Gamecard */
.gamedisplay {
    background-color: #0D0D0D;
}

.gamedisplay-head {
    background-color: #0D0D0D;
}

.gamedisplay-heading {
    color: #00FF00;
}

/* Game info */
.gamecard {
    background-color: #F2F2F2;
    height: 100%;
}

.gametitle {
    color: #0D0D0D;
}

.gamedecript {
    color: #0D0D0D;
}

/* Footer style */
.copyright-footer {
    margin: 0 auto;
    align-content: center;
}

.copyright-footer>p {
    color: #0D0D0D;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Audiowide', cursive;
}