.page-content {
    background-color: #0D0D0D;
    padding: 10px;
}

.text-container {
    background-color: #F2F2F2;
    padding: 10px;
}

.breadcrumb {
    font-size: small;
    padding-left: 1px;
}

/* CTA Buttons */
.f-cta-btn {
    background-color: #0D0D0D;
    border: 1px solid #0d0d0d;
    margin-top: 5px;
    border-radius: 9px;
    height: 2em;
    width: 6em;
}

.f-cta-btn>a {
    display: block;
    align-content: center;
    color: #00FF00;
    font-family: 'Audiowide', cursive;
    font-size: 12px;
}

.dropdown {
    background-color: #0DF205;
    position: relative;
    display: inline-block;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #F2F2F2;
    min-width: 140px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}



.dropdown-open .dropdown-list{
    display: grid;
    grid-template-rows: 1fr ;
}

.dropdown-cart {
    background-color: #0DF205;
}

.lg-cta-bt {
    background-color: #0DF205;
}

.copyright-footer {
    margin: 0 auto;
    align-content: center;
}

.copyright-footer>p {
    color: #0D0D0D;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Audiowide', cursive;
}

/* Gamecard */
.gamedisplay {
    background-color: #0D0D0D;
}

.gamedisplay-head {
    background-color: #0D0D0D;
}

.gamedisplay-heading {
    color: #00FF00;
}

/* Game info */
.gamecard {
    background-color: #F2F2F2;
    height: 100%;
}

.gametitle {
    color: #0D0D0D;
}

.gamedecript {
    color: #0D0D0D;
}

.gamebutton {
    float: right;
    background-color: #0D0D0D;
    color: #00FF00;
    height: 2em;
    width: 6em;
    border: 0.1em solid #0D0D0D;
    border-radius: 0.5em;
}