@import "./typeface.css";
@import "./mediaquery.css";

body{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 100vh;
    background-color: #F2F2F2;
}

.page-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    background-color: #F2F2F2;
    height: 100vh;
}

header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #0d0d0d0d;
}

header * {
    flex: 1;
}

.header-nav{
    flex-direction: row;
}

.lg-cta-bt-div{

}

.lg-cta-bt{

}

.nav-btn-right{

}

.comp-logo{
    height: fit-content;
    width: fit-content;

}

.header-nav-logo{

}

.nav-btn-left{

}

.dropdown-list{
    display: none;
}




























